<%= form_for(@position) do |f| %>
  <% if @position.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@position.errors.count, "error") %> prohibited this position from being saved:</h2>

      <ul>
      <% @position.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ticker %><br />
    <%= f.text_field :ticker %>
  </div>
  <div class="field">
    <%= f.label :tradeAction %><br />
    <%= f.text_field :tradeAction %>
  </div>
  <div class="field">
    <%= f.label :tradeTime %><br />
    <%= f.text_field :tradeTime %>
  </div>
  <div class="field">
    <%= f.label :tradeAmount %><br />
    <%= f.text_field :tradeAmount %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
