<h1>Listing positions</h1>

<table>
  <tr>
    <th>Ticker</th>
    <th>Tradeaction</th>
    <th>Tradetime</th>
    <th>Tradeamount</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @positions.each do |position| %>
  <tr>
    <td><%= position.ticker %></td>
    <td><%= position.tradeAction %></td>
    <td><%= position.tradeTime %></td>
    <td><%= position.tradeAmount %></td>
    <td><%= link_to 'Show', position %></td>
    <td><%= link_to 'Edit', edit_position_path(position) %></td>
    <td><%= link_to 'Destroy', position, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Position', new_position_path %>
